/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


.title {
  font-family: 'Segoe UI';
  font-size: 23px;  
}
.example-spacer {
  flex: 0.1 0.1 ;
}

.spacer-high {
  flex: 1 ;
}

.icon {
margin-right: 5%;
}

.example-container {
width: 500px;
height: 300px;
border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
display: flex;
height: 100%;
align-items: center;
justify-content: center;
}

.example-sidenav {
padding: 20px;
}

.button{
  font-family: 'Segoe UI';
  border: 0;
  padding: 15px;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.section {
display: table;
}

.label {
display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
}

.button-row {
display: table-cell;
width: 490px;
}

.button-row .mat-button-base {
margin: 8px 8px 8px 0;
}

.flex-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.button-container {
display: flex;
justify-content: center;
margin-left: 0.5%;
}

.bg{
  background: url("./assets/sky-bg.jpg");
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  width: 100% !important;
}

  .example-card {
    max-width: 250px;
    background-color: rgb(31, 30, 30);
    color: blanchedalmond;
  }

  .card-format {
    min-width: 300px;
    min-height: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg%27');
    background-size: cover;
  }

  .header {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(#3f51b5, rgb(148, 224, 243));
    color: blanchedalmond;
  }