<div class="container">
  <header class="jumbotron">
    <div class="demo-button-container">
      <button mat-raised-button (click)="addData()" class="demo-button">
        Add data
      </button>
      <button
        mat-raised-button
        [disabled]="!dataToDisplay.length"
        (click)="removeData()"
        class="demo-button"
      >
        Remove data
      </button>
    </div>

    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="header-align-space-right" mat-header-cell *matHeaderCellDef>Name</th>
        <td class="header-align-space-right" mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- numberOfLessonsRemaining Column -->
      <ng-container matColumnDef="numberOfLessons">
        <th class="header-align-space-right" mat-header-cell *matHeaderCellDef>Number Of Lessons</th>
        <td class="header-align-space-right" mat-cell *matCellDef="let element">
          {{ element.numberOfLessons }} / 20
        </td>
      </ng-container>

      <!-- numberOfStudents Column -->
      <ng-container matColumnDef="numberOfStudents">
        <th mat-header-cell *matHeaderCellDef>Number Of Students</th>
        <td mat-cell *matCellDef="let element">
          {{ element.numberOfStudents }}
        </td>
      </ng-container>

      <!-- manageStudentsAttendance Column -->
      <ng-container class="last-column" matColumnDef="manageStudentsAttendance">
        <th class="header-align-space-left" mat-header-cell *matHeaderCellDef>Manage Students Attendance</th>
        <td class="button-align-space-left" mat-cell *matCellDef="let element">
          <button
            [routerLink]="['/presence']"
            mat-button
          >
            <mat-icon>settings</mat-icon>
            View Your Class Details
          </button>
        </td></ng-container
      >

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </header>
</div>
